.item-wrap {
    position: relative;
}

.image-wrap {
    position: relative;
}

.item-image {
    width: 215px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hover-image {
    position: absolute;
    width: 215px;
    height: 215px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #00000080;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-image>.item-delivery-type {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-title {
    min-height: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.07em;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

.item-description {
    width: 100%;
    font-size: 13px;
    color: #666;
    min-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
}

.price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-price {
    margin-right: 2px;
    font-size: 26px;
    color: #2ac1bc;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1;
    letter-spacing: -0.04em;
}

.price-unit {
    font-weight: 600;
    font-size: 14px;
    color: #2ac1bc;
    padding-left: 2px;
}

.n-price {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: line-through;
    vertical-align: baseline;
    background: transparent;
    color: #888;
}

.item-badge {
    margin-top: 10px;
}

.badge {
    display: inline-block;
    zoom: 1;
    width: 50px;
    height: 11px;
    margin: 0 3px 0 0;
    padding: 5px 0 5px;
    line-height: 11px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background: #8ea1d3;
}

.launching-sale {
    background: #c6a8a5;
    width: 50px;
}

.event-sale {
    background: #b997cf;
    width: 62px;
}

.sold-out {
    background: #838085;
    width: 28px;
}