.detail-title {
    min-height: 30px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.07em;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 5px 0;
}

.detail-description {
    width: 100%;
    font-size: 17px;
    color: #666;
    min-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 14px;
}

.detail-box {
    display: flex;
    margin-bottom: 7px;
}

.detail-label {
    color: #777;
    font-size: 13.5px;
    margin-right: 90px;
    white-space: nowrap;
    width: 50px;
}

.detail-text {
    line-height: 17px;
    font-size: 13.5px;
    color: #363636;
}

.detail-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: -0.03em;
    font-size: 28px;
    font-weight: 600;
    color: #000;
}

.detail-price>.detail-price-unit {
    margin-left: 5px;
    font-size: 14px;
}

.select-count {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    font-size: 15px;
}

.select-count-stock {
    margin-left: 5px;
    font-size: 11px;
}

.select-input-wrap {
    position: relative;
    width: 70px;
    height: 30px;
}

.select-input {
    text-indent: 4px;
    width: 100%;
    height: 100%;
    outline: none;
    box-sizing: border-box;
}

.select-input-btn-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    width: 24px;
    flex-direction: column;
}

.select-input-btn-wrap button {
    position: relative;
    height: 50%;
}

.select-input-btn-wrap button svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.amount-price {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: -0.03em;
    font-size: 28px;
    font-weight: 600;
    color: #18C2BD;
}

.amount-price-text {
    margin-right: 15px;
    font-size: 14px;
    color: #000;
}

.amount-price-unit {
    margin-left: 5px;
    font-size: 14px;
}

.confirm-text {
    font-weight: 600;
}